<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" UpgradeCode="EFDDCC42-2F24-4DF4-933A-50FD2089EB74" Name="DCS-BIOS" Version="$(var.MsiVersion)" Manufacturer="DCS-BIOS Contributors" Language="1033">
		<Package InstallerVersion="301" 
                 Compressed="yes"
                 InstallScope="perMachine"
                 Description="DCS-BIOS" />
        <MediaTemplate EmbedCab="yes" />

        <Upgrade Id="EFDDCC42-2F24-4DF4-933A-50FD2089EB74">
            <UpgradeVersion Minimum="$(var.MsiVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
            <UpgradeVersion Minimum="0.0.0" Maximum="$(var.MsiVersion)" IncludeMinimum="yes" IncludeMaximum="no"
                            Property="OLDERVERSIONBEINGUPGRADED"/>
        </Upgrade>
        <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UIRef Id="Custom_WixUI_InstallDir" />

        <Icon Id="DcsBiosIcon" SourceFile="src\installer\dcsbios-channel-logo.ico" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLDIR" Name="DCS-BIOS">                            
                    <Component Id="CMP_mainexe" Guid="F92B188E-95F5-4D3D-9912-365AC3A078AB">
                        <File Source="..\dcs-bios-hub.exe" KeyPath="yes"/>
                    </Component>
                    <Directory Id="DCSLuaDir" Name="dcs-lua"/>
                    <Directory Id="ControlReferenceJsonDir" Name="control-reference-json"/>
                    <Directory Id="AppDir" Name="apps">
                        <Directory Id="FrontendAppDir" Name="hubconfig"/>
                        <Directory Id="DocumentationAppDir" Name="doc"/>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="StartMenuShortcutsDir" Name="DCS-BIOS">
                    <Component Id="CMP_StartMenuShortcut" Guid="3F8241DF-2E65-425E-853C-2C964D5CA85D">
                        <Shortcut Id="DcsBiosHubShortcut" Name="DCS-BIOS Hub" Icon="DcsBiosIcon" Target="[INSTALLDIR]dcs-bios-hub.exe"  WorkingDirectory="INSTALLDIR"/>
                        <Shortcut Id="UninstallShortcut" Name="Uninstall DCS-BIOS" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                        <RemoveFolder Id="RemoveStartMenuShortcutsDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\DCS-BIOS\DCS-BIOS Hub" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="DcsBios" Title="DCS-BIOS" Level="1" Absent="disallow">
            <ComponentRef Id="CMP_mainexe"/>
            <ComponentRef Id="CMP_StartMenuShortcut"/>
            <ComponentGroupRef Id="CMP_DcsLuaFiles"/>
            <ComponentGroupRef Id="CMP_ControlReferenceJsonFiles"/>
            <ComponentGroupRef Id="CMP_FrontendApp"/>
            <ComponentGroupRef Id="CMP_DocumentationApp"/>
        </Feature>

	</Product>
</Wix>
