.serial-port-table {
    table-layout: fixed;
}

.serial-port-row.state-missing {
    color: gray;
}
.serial-port-row.autoconnect-enabled td.serial-port-name {
    font-weight: bold;
}

.serial-port-row .serial-port-autoconnect {
    cursor: pointer;
}
.serial-port-row.autoconnect-enabled td.serial-port-autoconnect {
    background-color: lightgreen;
}

.serial-port-row td.serial-port-connection-state span {
    width: 8em;
    text-align: center;
}