.status-indicator {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.status-indicator.status-false {
    background-color: darkgray;
}
.status-indicator.status-true {
    background-color: green;
}
